html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.List__link {
    list-style: none;
}

.List__horizontal {
    display: inline-block;
    margin-top: 70px;
    margin-left: 45px;
}

.Footer__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey {
    background-color: grey;
}

.mt150 {
    margin-top: 150px;
}

.mt40 {
    margin-top: 40px;
}

.mb150 {
    margin-bottom: 150px;
}

.btn-info, .btn-success {
    color: #000;
}

a {
    color: #106bb9;
}

.m0a {
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.pr {
    position: relative;
}

.w2 {
    width: 2rem;
}

.ml2 {
    margin-left: 2rem;
}

.fs2 {
    font-size: 2rem;
}

.lsn {
    list-style: none;
}

.nowrap {
    white-space: nowrap;
}

.overflowxs {
    overflow-x: scroll;
}
  
.overflowyh {
    overflow-y: hidden;
}

.dib {
    display: inline-block;
}

.p0 {
    padding: 0;
}

.p1 {
    padding: 1rem;
}

.border {
    border: 1px solid rgba(0,0,0,0.15);;
    box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.75);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*****************************************\
  #ANIMATION-TITLE
  
\*****************************************/
@keyframes intro {
    0% {
      transform: rotate(0);
      opacity: 0;
    }
    100% {
      transform: rotate(0);
      opacity: 1;
    }
  }

  /*****************************************\
  #LANDING-TITLE
  
\*****************************************/
.detail {
    animation: intro .4s forwards 0s ease-in-out;
  }

/*****************************************\
  #CLOSE-TITLE
  
\*****************************************/
.t10 {
    top: 10px;
}

.r10 {
    right: 10px;
}

.pa {
    position: absolute;
}

.w25 {
    width: 25px;
}

.h25 {
    height: 25px;
}

.fs25 {
    font-size: 25px;
}

/*****************************************\
  #CENTER-TEXT-TITLE
  
\*****************************************/

.text-center {
    text-align: center;
}