{% extends "layout.html" %} {% block content %}

<br>
<br>
<br>
<br>

<form action="{{ url_for('insert_recipe') }}" method="POST" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>{{ message }}</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="recipe_name">Name</label>
            <div class="col-md-5">
                <input id="recipe_name" name="recipe_name" type="text" placeholder="Add a name" class="form-control input-md">
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="category_name">Categories</label>
            <div class="col-md-5">
                <select id="category_name" name="category_name" class="form-control">
                    <option value="" disabled selected>Choose Category</option>
                    {% for cat in categories %}
                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="allergen_name">Allergens</label>
            <div class="col-md-5">
                <select id="allergen_name" name="allergen_name" class="form-control">
                    <option value="" disabled selected>Choose Allergen</option>
                    {% for al in allergens %}
                    <option value="{{al.allergen_name}}">{{al.allergen_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <!-- Multiple Checkboxes -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="checkboxes">Ingredients</label>
            <div class="col-md-4">
                {% for ingredient in ingredients %}
                <div class="checkbox">
                    <label for="{{ingredient.ingredient_name}}">
                        <input type="checkbox" name="checkboxes" id="{{ingredient.ingredient_name}}" value="{{ingredient.ingredient_name}}"> {{ingredient.ingredient_name}}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>


        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="recipe_ingredients1">Step 1</label>
            <div class="col-md-4">
                <textarea class="form-control" id="recipe_ingredients1" name="recipe_ingredients1" placeholder="Enter instructions here"></textarea>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="recipe_ingredients2">Step 2</label>
            <div class="col-md-4">
                <textarea class="form-control" id="recipe_ingredients2" name="recipe_ingredients2" placeholder="Enter instructions here"></textarea>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="recipe_ingredients3">Step 3</label>
            <div class="col-md-4">
                <textarea class="form-control" id="recipe_ingredients3" name="recipe_ingredients3" placeholder="Enter instructions here"></textarea>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="action">Add Recipe</label>
            <div class="col-md-4">
                <button id="action" name="action" class="btn btn-success">Add</button>
            </div>
        </div>

    </fieldset>
</form>

{% endblock %}