{% extends "layout.html" %} {% block content %}
<br>
<br>
<br>
<br>
<form action="{{ url_for('insert_allergen') }}" method="POST" class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>{{ message }}</legend>


        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ingredient_name">Allergen</label>
            <div class="col-md-5">
                <input id="allergen_name" name="allergen_name" type="text" placeholder="Add an allergen" class="form-control input-md">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="action">Add allergen</label>
            <div class="col-md-4">
                <button name="action" class="btn btn-success">Add</button>
            </div>
        </div>
        
        <!-- Ingredients -->
        <div class="form-group">
            <div class="col-md-4 ">
                <ul class="List__link">
                    {% for allergen in allergens %}
                    <li>
                        {{allergen.allergen_name}}
                        <a href="{{url_for('delete_allergen', allergen_id =allergen._id)}}" class="btn btn-info">Remove</a>
                    </li>
                    <br>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </fieldset>
    </form>
</form>


{% endblock %}