<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Project4 Recipes</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

</head>

<body class="mt150">
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <h1>
                    <a href="/" class="navbar-brand pull-left">Recipe Manager</a>
                </h1>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="add_recipe" href="{{ url_for('add_recipe') }}">Recipes</a></li>
                    <li><a id="add_category" href="{{ url_for('add_category') }}">Categories</a></li>
                    <li><a id="add_ingredient" href="{{ url_for('add_ingredient') }}">Ingredients</a></li>
                    <li><a id="add_allergen" href="{{ url_for('add_allergen') }}">Allergens</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}      
    </main>

    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
