<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Project4 Recipes</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />

</head>

<body class="mt150">
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <h1>
                    <a href="/" class="navbar-brand text-center">Manager</a>
                </h1>
            </div>
        </div>
        <div>
            <script>
                (function () {
                    var cx = '005699009556963880312:l5h-rafifhg';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <gcse:search></gcse:search>
        </div>
    </header>
    <main class="container mt40 mb150">
        {% block content %}{% endblock %}
    </main>
    <footer class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="flex-center">
            <ul class="nav navbar-nav lsn flex-center">
                <li><a class="fas fa-home" id="get_recipes" href="{{ url_for('get_recipes') }}" title="Home"> </a></li>
                <li><a class="fa fa-plus-circle fs2" id="add_recipe" href="{{ url_for('add_recipe') }}"
                        title="Add recipe"></a></li>
                <li><a class="fas fa-cog" id="settings" href="{{ url_for('settings') }}" title="Settings"> </a></li>
            </ul>
        </div>
    </footer>

    <script src="{{url_for('static', filename='js/jquery-1.10.2.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    {% block scripts %}{% endblock %}

</body>

</html>