{% extends 'layout.html'%} {% block content %}
<div class="detail">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <a class="btn-filter active badge" data-target="all">Reset all</a>
    </div>
    <div class="col-md-3">
      <h1>Top recipes</h1>
      {% for recipe in recipes %}
      <div class="panel panel-default p1">
        <div class="panel-body" data-status="{% for cat in recipe.category_name %}{{ cat }}{% endfor %}">
          <a class="center"
            href="{{url_for('recipe_detail', recipe_id =recipe._id)}}">{{ recipe.recipe_name }}</a>
            <span class="badge">{{ recipe.likes }}</span>
        </div>
        <a class="btn-filter badge" data-target="{{recipe.category_name}}">{{recipe.category_name}}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row pr">
    <nav class="center" aria-label="Recipes Page navigation">
      <ul id="pagination" class="pagination">
        {% for n in pagerange %}
          <li class="item {% if n + 1 == page %} active {% endif %}"><a href="{{url_for('get_recipes', page=n+1)}}">{{ n + 1}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}