
{% extends 'layout.html'%} 
{% block content %}
<div class="row">    
    <div class="col-md-6 col-md-offset-3">
        {% for recipe in recipes %}
            <div class="panel panel-default p1">
                <div class="panel-body" data-status="{% for cat in recipe.category_name %}{{cat}}{% endfor %}">                 
                    <a class="center" href="{{url_for('recipe_detail', recipe_id =recipe._id)}}">{% for name in recipe.recipe_name %}{{name}}{% endfor %}</a>
                </div>
            </div>
        {% endfor %}             
    </div>
</div>
{% endblock %}