{% extends "layout.html" %} {% block content %}
<br>
<br>
<br>
<br>
<!-- Category name: {% for cat in recipe.category_name %}{{cat}{% endfor %} -->
<br>
<br>
<!-- Ingredients: {% for ingredient in recipe.checkboxes %}{{ingredient}}{% endfor %}
<br>
<br>
Recipe name: {% for name in recipe.recipe_name %}{{name}}{% endfor %}
<br>
<br>
Step1: {% for step1 in recipe.recipe_ingredients1 %}{{step1}}{% endfor %}
<br>
<br>
Step2: {% for step2 in recipe.recipe_ingredients2 %}{{step2}}{% endfor %}
<br>
<br>
Step3: {% for step3 in recipe.recipe_ingredients3 %}{{step3}}{% endfor %} -->

{% endblock %}