{% extends "layout.html" %}

{% block content %}
<header>
        <h1 class="text-center">
            {% for name in recipe.recipe_name %}{{name}}{% endfor %}
        </h1>
        <img src="static/img/toa-heftiba-714913-unsplash.jpg" alt="pic" />
</header>
<main>
    <div class="row">
        <section class="col-sm-6">
            <h2>Ingredients:</h2>
            <ol>{% for ingredient in recipe.checkboxes %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ol>
        </section>
        <section class="col-sm-6">
            <h2>Instructions:</h2>
            <ol>
                <li>{% for step in recipe.recipe_ingredients1 %}{{step}}{% endfor %}</li>
                <li>{% for step in recipe.recipe_ingredients2 %}{{step}}{% endfor %}</li>
                <li>{% for step in recipe.recipe_ingredients3 %}{{step}}{% endfor %}</li>
            </ol>
        </section>
    </div>
</main>
{% endblock %}