{% extends "layout.html" %}

{% block content %}
<div class="row detail">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
        <ul class="text-center">
            <li class="active tabs"><a href="#tab-1" data-toggle="tab">Categories</a></li>
            <li class="tabs"><a href="#tab-2" data-toggle="tab">Ingredients</a></li>
            <li class="tabs"><a href="#tab-3" data-toggle="tab">Recipes</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-1">
                <h2 class="text-center">Categories</h2>
                <ul class="parent">
                    {% for category in categories1 %}
                    <div class="panel panel-default p1">
                        <div class="panel-body">
                            <a>{{category.category_name}}</a>
                        </div>
                        <a href="{{url_for('delete_category', category_id =category._id)}}" class="fas fa-trash pull-right">
                    Remove</a>
                    </div>
                    {% endfor %}
                    <div class="panel panel-default p1">
                        <div class="panel-body">
                            <form action="{{ url_for('insert_category') }}" method="POST" class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                                <input id="category_name" name="category_name" type="text" placeholder="Add a category"
                                    class="form-control input-md">
                                <button name="action" class="fas fa-plus"> Add</button> 
                        </div>
                    </fieldset>
                </form>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="tab-pane" id="tab-2">
                <h2 class="text-center">Ingredients</h2>
                <ul class="parenti">
                    {% for ingredient in ingredients1 %}
                    <div class="panel panel-default p1">
                        <div class="panel-body">
                            <a>{{ingredient.ingredient_name}}</a>
                            <a href="{{url_for('delete_ingredient', ingredient_id =ingredient._id)}}"
                    class="fas fa-trash pull-right"> Remove</a>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="panel panel-default p1">
                        <div class="panel-body">
                    <form action="{{ url_for('insert_ingredient') }}" method="POST" class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                                <input id="ingredient_name" name="ingredient_name" type="text"
                                    placeholder="Add an ingredient" class="form-control input-md">
                                <button name="action" class="fas fa-plus"> Add</button>
                        </div>
                    </fieldset>
                </form>               
                        </div>
                    </div>
                </ul>
            </div>
            <div class="tab-pane" id="tab-3">
                <div class="pr">
                    <h2 class="text-center">Recipes</h2>
                    {% for recipe in recipes %}
                    <div class="panel panel-default">
                        <div class="panel-body" data-status="{{ recipe.category_name }}">
                            <a class="center mb2"
                                href="{{url_for('recipe_detail', recipe_id=recipe._id)}}">{{ recipe.recipe_name }}</a>
                            <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="pull-left fas fa-edit">
                                Edit</a>
                            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
                                class="pull-right fas fa-trash">
                                Remove</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <ul class="lsn">
            {% for ingredient in ingredients1 %}
            <li>
                {{ingredient.ingredient_name}}
                <a href="{{url_for('delete_ingredient', ingredient_id =ingredient._id)}}"
                    class="fas fa-trash pull-right"> Remove</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="List__link">
            {% for category in categories1 %}
            <li>
                {{category.category_name}}
                <a href="{{url_for('delete_category', category_id =category._id)}}" class="fas fa-trash pull-right">
                    Remove</a>
            </li>
            <br>
            {% endfor %}
        </ul>
    </div>

</div>


{% endblock %}