{% extends "layout.html" %} 

{% block content %}
<div class="row detail">
    <div class="col-md-4">
        <h2 class="text-center">Ingredients</h2>
        <form action="{{ url_for('insert_ingredient') }}" method="POST" class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="ingredient_name">Ingredient</label>
                    <div class="col-md-5">
                        <input id="ingredient_name" name="ingredient_name" type="text" placeholder="Add an ingredient" class="form-control input-md">
                        <button name="action" class="fas fa-plus"> Add</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <ul class="lsn">
            {% for ingredient in ingredients1 %}
            <li>
                {{ingredient.ingredient_name}}
                <a href="{{url_for('delete_ingredient', ingredient_id =ingredient._id)}}" class="fas fa-trash pull-right"> Remove</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
            <h2 class="text-center">Categories</h2>
        <form action="{{ url_for('insert_category') }}"  method="POST" class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="category_name">Category</label>
                    <div class="col-md-5">
                        <input id="category_name" name="category_name" type="text" placeholder="Add a category" class="form-control input-md">
                        <button name="action" class="fas fa-plus"> Add</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <ul class="List__link">
            {% for category in categories1 %}
            <li>
                {{category.category_name}}
                <a href="{{url_for('delete_category', category_id =category._id)}}" class="fas fa-trash pull-right"> Remove</a>
            </li>
            <br>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4 pr">
        <h2 class="text-center">Recipes</h2>
        {% for recipe in recipes %}
        <div class="panel panel-default">
            <div class="panel-body" data-status="{% for cat in recipe.category_name %}{{cat}}{% endfor %}">                 
                <a class="center mb2" href="{{url_for('recipe_detail', recipe_id=recipe._id)}}">{% for name in recipe.recipe_name %}{{name}}{% endfor %}</a>
                <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="pull-right fas fa-trash"> Remove</a>
            </div>
        </div>
        {% endfor %}             
    </div>
</div>


{% endblock %}